body {
  font: bold 14px "Helvetica Neue", Arial, Helvetica, sans-serif;
  background-image: url("/static/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#logo {
  position: absolute;
  top: 50px;
  left: 50px;
}

#headline {
  margin-top: 250px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

p {
  color: white;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  line-height: 200%;
  text-align: left;
}

#prompt {
  text-align: center;
}

div {
  margin-top: 70px;
  text-align: center;
}

a.button {
  padding: 20px 150px;
  color: gray;
  text-decoration: none;
  border-color: white;
  border-width: 1px;
  border-style: solid;
  background-color: white;
}
