<!DOCTYPE html>
<html>
  <head>
    <title>Hello, Skyliner!</title>
    <link rel="stylesheet" href="/static/index.css" type="text/css">
  </head>
  <body>
    <a href="https://www.skyliner.io/"><img src='/static/logo.svg' id='logo'/></a>
    <img src='/static/headline.svg' id='headline'/>
    <p>
      Your Slack command app is deployed and ready for use. To connect it to
      your Slack instance, follow the instructions on the app's status page
      within Skyliner.
    </p>

    <div>
      <a class="button" href="https://www.skyliner.io/congratulations">Take me back to Skyliner</a>
    </div>

  </body>
</html>
