{% extends "layout.jinja" %}

{% block content %}

  {% include "short-header.jinja" %}

  <section>
    <div class="container">
      <div class="col-group">
        <div class="col-offset-1 col-10 col-mb-12">
          <h2 id="installed-heading" class="wt300">
            Ok! You're all set. To get started, try some commands in Slack.
          </h2>

          <p>
            Use this to watch for a term or phrase:
            <code>
              <span class="command">/clippingsbot watch</span> mycompany.com
            </code>
          </p>

          <p>
            Use this to get a full list of commands:
            <code>
              <span class="command">/clippingsbot help</span>
            </code>
          </p>
        </div>
      </div>
    </div>
  </section>


{% endblock %}
