<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Clippingsbot :: Hacker News Notifications for Slack{% endblock %}</title>
    <link rel="stylesheet" href="/static/clippingsbot.css?v=1" type="text/css">

    {% block head %}{% endblock %}

    <link rel="shortcut icon" sizes="196x196" href="/static/favicon/favicon-230x230.png">
    <link rel="apple-touch-icon-precomposed" href="/static/apple-touch-icon-152x152.png">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="/static/favicon/mstile-144x144.png">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@skylinerhq">
    <meta name="twitter:domain" content="www.clippingsbot.com">
    <meta name="twitter:image" content="https://www.clippingsbot.com/static/img/logo-256.png">
    <meta name="twitter:title" content="Clippingsbot">
    <meta name="twitter:description" content="Hacker News notifications for Slack">

    <meta property="og:site_name" content="Clippingsbot">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="en_US">
    <meta property="og:image" content="https://www.clippingsbot.com/static/img/logo-256.png">
    <meta property="og:image:width" content="256">
    <meta property="og:image:height" content="256">
    <meta property="og:title" content="Clippingsbot">
    <meta property="og:description" content="Hacker News notifications for Slack.">
    <meta property="og:url" content="https://www.clippingsbot.com/">

    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, height=device-height, initial-scale=1" name="viewport">
  </head>
  <body>

    <div id="page-wrapper">

      {% block content %}{% endblock %}

      <footer>
        <div class="container">
          <div class="col-group">
            <div class="col-offset-1 col-10 col-mb-12">
              <p>
                Clippingsbot is a project by
                <a href="https://www.skyliner.io?utm_source=clippingsbot">Skyliner</a>,
                an AWS continuous delivery platform. You can launch your own Slack
                bot on Skyliner with a few clicks.
              </p>
            </div>
          </div>
        </div>
      </footer>

    </div>

    <script>
     (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
     })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

     ga('create', 'UA-76051941-3', 'auto');
     ga('send', 'pageview');

    </script>

  </body>
</html>
