<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Clippingsbot{% endblock %}</title>
    <link rel="stylesheet" href="/static/clippingsbot.css" type="text/css">
  </head>
  <body>

    <div id="page-wrapper">

      {% block content %}{% endblock %}

      <footer>
        <div class="container">
          <div class="col-group">
            <div class="col-offset-1 col-10 col-mb-12">
              <p>
                Clippingsbot is a project by
                <a href="https://www.skyliner.io?utm_source=clippingsbot">Skyliner</a>,
                an AWS continuous delivery platform. You can launch your own Slack
                bot on Skyliner with a few clicks.
              </p>
            </div>
          </div>
        </div>
      </footer>

    </div>

  </body>
</html>
