<header class="smaller">
  <div class="container">
    <div class="col-group">
      <div class="col-mb-12">
        <h1>
          <a class="naked" href="/">Clippingsbot</a>
          <small id="subtitle">
            by <a href="https://www.skyliner.io?utm_source=clippingsbot&utm_term=installed">Skyliner</a>
          </small>
        </h1>
      </div>
    </div>
  </div>
</header>
